body {
  background-color: black;
}

.card {
  background-color: #245038;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: white;
}

.container-fluid {
  margin-top: 30px;
}

a.btn{
  margin-top: 5px;
  color: white;
  background-color: #245038;
}
